@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('fontes/CaviarDreams.ttf') format(truetype);
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('fontes/Louis\ George\ Cafe.ttf') format(truetype);
}
:root{
    --titulos: 'Caviar Dreams', cursive;
    --padrão: 'Louis George Cafe', cursive;
    --cor1: #5A6987;
    --cor2: #A1ABB3;
    --cor3: #D0D9D4;
    --cor4: #F2EFDD;
    --cor5: #FFC699;
}
html{
    background-color: #3b3b3b;
}
body{
    background-color:#000000;
    max-width: 800px;
    margin: auto;
}
header{
    padding-top: 30px;
}
nav {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    border-left: 2px solid var(--cor4);    
    border-right: 2px solid var(--cor4);
    border-bottom: 2px solid var(--cor4);
    margin: auto;
    width: 300px;}

nav > a{
    padding: 10px 20px;
    font-size: 10px;
    text-decoration: none;
    color: #F2EFDD;
    font-family: var(--padrão);
    width: 300px;
}

span{
    font-family: var(--titulos);
    font-weight: bolder;
    font-size: 30px;
    color: #F2EFDD;
    padding-right: 10px;

}

nav > a:hover{
    color: var(--cor1);
}
main{
    color: white;
}



