@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Passion one';
    src: url(fontes/PassionOne-Regular.ttf) format(truetype);
    letter-spacing: 3px;
}

@font-face {
    font-family: 'Shadows Into Light' ;
    src: url(fontes/ShadowsIntoLight-Regular.ttf) format(truetype);

}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion one', cursive;
    --fonte3: 'Shadows Into Light', cursive;
}


html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-size: 10vw;
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    letter-spacing: 3px;
    
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-weight: bolder;
    font-size: 3vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(47, 47, 47);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.738);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.596);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    
}

section#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}
section#img2{
    background-image: url('imagens/background002.jpg');
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}